@model IEnumerable<StokOtomasyanu.Kategoriler>

@{
    ViewBag.Title = "Kategoriler";
}

<h2>Index</h2>

<p>
@if (User.IsInRole("Admin") || User.IsInRole("Satın Alma Şefi"))
{
    @Html.ActionLink("Ekle", "Yeni", "", htmlAttributes: new {@class = "btn btn-success"})
}
</p>

<table class="table">
    <tr>
        <th>
            Kategori Adı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
            @if (User.IsInRole("Admin") || User.IsInRole("Satın Alma Şefi"))
            {
                @Html.ActionLink("Düzenle", "Duzenle", new {id = item.KategoriId}, htmlAttributes: new {@class = "btn btn-warning"})

                <a href="#" class="btn btn-danger katsil" data-katid="@item.KategoriId">Sil</a>
            }
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(".katsil").click(function () {
        var sonuc=confirm("Kayıt Silinsin mi?");
        if (sonuc) {
            var katid = $(this).data("katid");
            $.ajax({
                type: "POST",
                url: "/Kategori/Sil/"+katid,
                success: function(parameters) {
                    alert("Kayıt Silindi");
                    window.location.replace("/Kategori/Index");
                },
                error: function() {
                    alert("kayıt silme sırasında hata oluştu");
                }



            });

        } else {
            alert("iptal edildi");

        }
                
    });
</script>